extends layout

block content

	.container.detail

		h1 #{title} - #{incident.description}		

		if incident.imageuri
			.row
				.col-sm-6
					table.table.table-striped
						+fields(incident)

				.col-sm-6
					if process.env.AZURE_STORAGE_ACCOUNT
						img(src=`//${process.env.AZURE_STORAGE_ACCOUNT}.blob.core.windows.net/images/${incident.imageuri}`, class='img-responsive')
					else
						img(src=`../img/${incident.imageuri}`, class='img-responsive')

		else
			.row
				.col-sm-12
					table.table.table-striped
						+fields(incident)

mixin fields
	tr
		th  First Name
		td= incident.firstname
	tr
		th  Last Name
		td= incident.lastname
	tr
		th  Street
		td= incident.street
	tr
		th  City
		td= incident.city
	tr
		th  State
		td= incident.state
	tr
		th  Zip
		td= incident.zip
	tr
		th  Phone Number
		td= incident.phonenumber
	tr
		th  Emergency
		td= incident.emergency
	tr
		th  Incident ID
		td= incident.id
		